<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카카오톡 MBTI 분석기</title>
</head>

<body>
<th:block th:replace="fragments/header :: header"></th:block>
<h2>📁 카카오톡 MBTI 규칙 기반 분석기</h2>

<form th:action="@{/mbti}" method="post" enctype="multipart/form-data">
    <div>
        <label>카카오톡 txt 파일:</label>
        <input type="file" name="file" required>
    </div>

    <div>
        <label>내 이름(카톡 닉네임):</label>
        <input type="text" name="myName" required>
    </div>

    <button type="submit">분석하기</button>
</form>

<p th:if="${error}" th:text="${error}" style="color:red;"></p>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>

</html>
